div.a{
	float:left;
	width:50%;
	height:30px;
	border:1px solid #eee ;
	background:#ddd;
	text-align: center;
	line-height:30px;
}
div.b{
	float:left;
	width:50%;
	height:30px;
	border:1px solid #eee ;
	background:#ddd;
	text-align: center;
	line-height:30px;
}
